<table width="480" style="font-size: 11pt; font-family: Arial, sans-serif;" cellpadding="0" cellspacing="0" border="0" class="ng-scope">
    <tbody>
     <tr>
      
      <!-- ngIf: showField('logo') --><td ng-if="showField('logo')" width="160" style="font-size: 10pt; font-family: Arial, sans-serif; width: 160px; vertical-align: top;" valign="top" class="ng-scope">
            <!-- ngIf: showField('logoURL') --><a ng-if="showField('logoURL')" href="https://www.creativeit.bd.com" target="_blank" class="ng-scope"><img border="0" alt="Logo" width="125" style="width:125px; height:auto; border:0;" ng-src="https://raw.githubusercontent.com/sumonkumar924/img/main/logo.png" src="https://raw.githubusercontent.com/sumonkumar924/img/main/logo.png"></a><!-- end ngIf: showField('logoURL') -->
            <!-- ngIf: !showField('logoURL') -->   
      </td><!-- end ngIf: showField('logo') -->
      <!-- ngIf: !showField('logo') -->  
     
     
     <td valign="top" width="270" style="width:270px; vertical-align: top; line-height:11px; border-right:2px solid #120d04">
        
        <table cellpadding="0" cellspacing="0" border="0" width="270">
        <tbody>
            <tr>
                        <td style="font-size:12pt; height:14px; line-height:14px"><span style="font-family: Arial, sans-serif;font-size: 12pt;color:#120d04;"><strong class="ng-binding">Sumon Mandal</strong></span></td>
            </tr>
            <tr>
                <td style="font-size:9pt; height:14px; line-height:14px">
                    <!-- ngIf: showField('title') --><span ng-if="showField('title')" style="font-family: Arial, sans-serif; font-size:9pt; color:#000000;" class="ng-binding ng-scope">Web designer &amp; Developer<!-- ngIf: showField('company') --><span ng-if="showField('company')" class="ng-scope"> | </span><!-- end ngIf: showField('company') --></span><!-- end ngIf: showField('title') -->
                    <!-- ngIf: showField('company') --><span ng-if="showField('company')" style="font-family: Arial, sans-serif; font-size:9pt; color:#000000;" class="ng-binding ng-scope">Creative IT</span><!-- end ngIf: showField('company') -->			
                </td>
            </tr>
            <tr>
                <td style="height:14px; line-height:14px">&nbsp;</td>
            </tr>
            <tr>
                <td style="font-size:9pt; height:14px; line-height:14px">
                                <!-- ngIf: showField('mobile') --><span ng-if="showField('mobile')" style="font-family: Arial, sans-serif;color:#000000;FONT-SIZE: 9pt" class="ng-binding ng-scope"><strong>M</strong> (+880) 1737350000<!-- ngIf: showField('phone') --></span><!-- end ngIf: showField('mobile') -->
                    <!-- ngIf: showField('phone') -->			
                </td>
            </tr>
            <tr>
                <td style="font-size:9pt; height:12px; line-height:12px">
                    <!-- ngIf: showField('email') --><span ng-if="showField('email')" style="font-family: Arial, sans-serif;color:#000000;FONT-SIZE: 9pt" class="ng-binding ng-scope"><strong>E</strong>  sumonkumar924@gmail.com</span><!-- end ngIf: showField('email') -->		
                </td>
            </tr>	
            <tr>
                <td style="height:14px; line-height:14px">&nbsp;</td>
            </tr>		
            <tr>
                <td style="font-size:9pt; height:12px; line-height:12px">
                    <!-- ngIf: isAnyFieldEntered('company, address1, address2') --><span ng-if="isAnyFieldEntered('company, address1, address2')" style="font-family: Arial, sans-serif;color:#000000;FONT-SIZE: 9pt" class="ng-scope">
                                        <!-- ngIf: showField('address1') --><span ng-if="showField('address1')" class="ng-binding ng-scope">Natore, Sador Natore<!-- ngIf: showField('address2') --><span ng-if="showField('address2')" class="ng-scope">, </span><!-- end ngIf: showField('address2') --></span><!-- end ngIf: showField('address1') --><!-- ngIf: showField('address2') --><span ng-if="showField('address2')" class="ng-binding ng-scope">6400</span><!-- end ngIf: showField('address2') --></span><!-- end ngIf: isAnyFieldEntered('company, address1, address2') -->
                </td>
            </tr>	
            
            <tr>
                <td style="font-size:9pt; height:12px; line-height:12px">
                    <!-- ngIf: showField('website') --><span ng-if="showField('website')" class="ng-scope"><a href="http://www.creativeit.bd.com" target="_blank" rel="noopener" style=" text-decoration:none;"><strong style="color:#120d04; font-family:Arial, sans-serif; font-size:9pt" class="ng-binding">www.creativeit.bd.com</strong></a></span><!-- end ngIf: showField('website') -->		
                </td>
            </tr>	
        </tbody><tbody>		
        </tbody></table>
    
            
            
    
      </td>
      
      <td style="vertical-align: top; padding-left:10px" valign="top" width="35">
            
            <table cellpadding="0" cellspacing="0" border="0" width="25">
                <tbody><!-- ngIf: showField('facebookURL') --><tr ng-if="showField('facebookURL')" class="ng-scope">
                    <td width="25" height="30" valign="top" style="vertical-align: top;"><a href="https://web.facebook.com/sumon.kumar.3745" target="_blank" rel="noopener"><img border="0" width="26" height="25" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/hexagonal-logo/fb.png" alt="facebook icon" style="border:0; height:25px; width:26px;" src="https://www.mail-signatures.com/signature-generator/img/templates/hexagonal-logo/fb.png"></a></td>
                </tr><!-- end ngIf: showField('facebookURL') -->
                <!-- ngIf: showField('twitterURL') --><tr ng-if="showField('twitterURL')" class="ng-scope">
                    <td width="25" height="30" valign="top" style="vertical-align: top;"><a href="https://twitter.com/sumon924" target="_blank" rel="noopener"><img border="0" width="26" height="25" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/hexagonal-logo/tt.png" alt="twitter icon" style="border:0; height:25px; width:26px;" src="https://www.mail-signatures.com/signature-generator/img/templates/hexagonal-logo/tt.png"></a></td>
                </tr><!-- end ngIf: showField('twitterURL') -->
                <!-- ngIf: showField('youtubeURL') -->			
            </tbody></table>
    
      </td>
      
      <td style="vertical-align: top;" valign="top" width="25">
      
            <table cellpadding="0" cellspacing="0" border="0" width="25">	
                <tbody><tr><td style="height:12px; font-size:1px" height="12">&nbsp;</td></tr>
                <!-- ngIf: showField('linkedinURL') --><tr ng-if="showField('linkedinURL')" class="ng-scope">
                    <td width="25" height="30" valign="top" style="vertical-align: top;"><a href="https://www.linkedin.com/in/sumon-kumar-mondal-031371209/" target="_blank" rel="noopener"><img border="0" width="26" height="25" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/hexagonal-logo/ln.png" alt="linkedin icon" style="border:0; height:25px; width:26px;" src="https://www.mail-signatures.com/signature-generator/img/templates/hexagonal-logo/ln.png"></a></td>
                </tr><!-- end ngIf: showField('linkedinURL') -->
                <!-- ngIf: showField('instagramURL') --><tr ng-if="showField('instagramURL')" class="ng-scope">
                    <td width="25" height="30" valign="top" style="vertical-align: top;"><a href="" target="_blank" rel="noopener"><img border="0" width="26" height="25" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/hexagonal-logo/it.png" alt="instagram icon" style="border:0; height:25px; width:26px;" src="https://www.mail-signatures.com/signature-generator/img/templates/hexagonal-logo/it.png"></a></td>
                </tr><!-- end ngIf: showField('instagramURL') -->
                <!-- ngIf: showField('pinterestURL') -->			
            </tbody></table>
     
      </td>
      
          
     </tr> 
     
     <tr>
        <!-- ngIf: showField('banner') --><td colspan="4" ng-if="showField('banner')" style="padding-top:15px;" class="ng-scope">
                <!-- ngIf: showField('bannerURL') --><a ng-if="showField('bannerURL')" href="https://www.codetwo.com/email-signatures/" target="_blank" rel="noopener" class="ng-scope"><img border="0" ng-src="https://raw.githubusercontent.com/sumonkumar924/background/main/ss1.jpg" alt="Banner" width="479" style="max-width:479px; height:auto; border:0;" src="https://raw.githubusercontent.com/sumonkumar924/background/main/ss1.jpg"></a><!-- end ngIf: showField('bannerURL') -->
                <!-- ngIf: !showField('bannerURL') -->	
        </td><!-- end ngIf: showField('banner') -->
      </tr>
      
     <tr>
        <!-- ngIf: showField('disclaimer') -->
      </tr>
    </tbody>
    </table>